@import "./reset";
@import "./variables/globals";
@import "./variables/dark";
@import "./variables/light";

.app {
  background-color: var(--primary-bg-color);
  height: 100vh;
  font-size: var(--font-size-m);
  font-family: var(--font-family);
  color: var(--primary-color);
}

.container {
  display: flex;
}

.pageContainer {
  flex-grow: 1;
  padding: var(--container-padding);
}

.button {
  color: var(--secondary-color);
  font-size: var(--font-size-l);
}
