.pageWrapper {
    flex-grow: 1;
    padding: var(--container-padding);
    margin-left: var(--collapsed-sidebar-width);
    margin-top: var(--navbar-height);
    overflow: auto;
    height: calc(100vh - var(--navbar-height));
}

.trigger {
    display: absolute;
    bottom: 100px;
    width: 100px;
    height: 100px;
    background-color: red;
}
