.dark_global_theme {
  --primary-color: white;
  --primary-color-reverse: black;
  --secondary-color: rgb(129 205 240);
  --success-color: rgb(74 207 80);
  --error-color: rgb(238 93 93);
  --button-dark-color: rgb(67 100 146);
  --primary-bg-color: rgb(44 44 44);
  --primary-button-bg: rgb(8 79 161);
  --secondary-bg-color: rgb(54 54 54);
  --disabled-bg-color: rgb(10 10 10);
  --overlay-bg-color: rgb(0 0 0 / 70%);
  --input-bg-color: rgb(97 97 97);
  --primary-border-color: rgb(99 99 99);
}
