.dark_global_theme {
  --primary-font-color: white;
  --primary-font-color-reverse: black;
  --primary-bg-color: rgb(44 44 44);
  --secondary-font-color: rgb(129 205 240);
  --secondary-bg-color: rgb(54 54 54);
  --button-dark-color: rgb(67 100 146);
  --overlay-bg-color: rgb(0 0 0 / 70%);
  --primary-border-color: rgb(99 99 99);
  --input-bg-color: rgb(97 97 97);
}
