:root {
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 26px;

  --font-family: Consolas, 'Times New Roman', Serif;

  --navbar-height: 50px;
  --collapsed-sidebar-width: 100px;
  --container-padding: 10px 20px;
}
