.light_global_theme {
  --primary-font-color: black;
  --primary-font-color-reverse: white;
  --secondary-font-color: rgb(20 12 65);
  --primary-bg-color: rgb(255 255 255);
  --secondary-bg-color: rgb(117 168 180);
  --button-dark-color: rgb(73 120 185);
  --overlay-bg-color: rgb(255 255 255 / 70%);

  --input-bg-color: rgb(255 255 255);
  --primary-border-color: rgb(209, 201, 201);
}
