.button {
  cursor: pointer;
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
  border-width: 1px;
  overflow: hidden;
  position: relative;

  &.pending {
    opacity: 0.5;
    &:before {
      content: '';
      opacity: 0.5;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      background-image: linear-gradient(90deg, var(--secondary-bg-color) 50%, var(--disabled-bg-color) 100%);
      background-color: red;
      animation-name: widthX;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 1s;
    }
  }

  &.disabled {
    background-color: var(--disabled-bg-color);
    opacity: 0.5;
  }
}

@keyframes widthX {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.clear {
  padding: 0;
  outline: none;
  border: none;
  background: none;
}

.outline {
  border: none;
}

.outlineDark {
  border: none;
  background-color: var(--button-dark-color);
  color: var(--secondary-color);
}

.square {
  border-radius: 0;
  padding: 0;

  &.size-m {
    font-size: var(--font-size-m);
    width: 30px;
    height: 30px;
  }

  &.size-l {
    font-size: var(--font-size-l);
    width: 40px;
    height: 40px;
  }

  &.size-xl {
    font-size: var(--font-size-xl);
    width: 50px;
    height: 50px;
  }
}

.circle {
  border-radius: 50%;
  padding: 0;

  &.size-m {
    font-size: var(--font-size-m);
    width: 30px;
    height: 30px;
  }

  &.size-l {
    font-size: var(--font-size-l);
    width: 40px;
    height: 40px;
  }

  &.size-xl {
    font-size: var(--font-size-xl);
    width: 50px;
    height: 50px;
  }
}
