.articleWrapper {
    display: flex;
    flex-direction: column;
}

.articleAvatar {
    display: flex;
    justify-content: center;
}

.avatarSkeleton {
    margin-bottom: 16px;
}

.titleSkeleton {
    margin-bottom: 16px;
}

.contentSkeleton {
    margin-bottom: 16px;
}

.block {
    margin-bottom: 20px;
}

.imgBlock {
    align-self: center;
}
