.articleAvatar {
    display: flex;
    justify-content: center;
}

.avatarSkeleton {
    margin-bottom: 16px;
}

.titleSkeleton {
    margin-bottom: 16px;
}

.contentSkeleton {
    margin-bottom: 16px;
}
