.error {
    color: var(--error-color);
}

.title {
    display: inline-block;
}

.wrapper {
    &.m {
        .title {
            font-size: var(--font-size-m);
            margin-bottom: 10px;
        }
    }
    &.l {
        .title {
            font-size: var(--font-size-l);
            margin-bottom: 16px;
        }
    }
    &.xl {
        .title {
            font-size: var(--font-size-xl);
            margin-bottom: 20px;
        }
    }
}
