.navbar {
  height: var(--navbar-height);
  background-color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.linksWrapper {
  width: fit-content;
  margin-left: auto;
}

.link:not(:last-child) {
  margin-right: 10px;
}

.buttonSingInWrapper {
  margin-left: auto;
}
