.card {
  padding: 20px 30px;
  width: 400px;
  border: 1px solid var(--primary-border-color);

  &.isEditable {
    border-color: var(--success-color);
  }
}

.validationErrorWrapper {
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cardAvatar {
  margin-bottom: 50px;
}

.buttonsWrapper {
  button:not(:last-child) {
    margin-right: 10px;
  }
}

.input {
  margin-bottom: 10px;
}
